<h1>parts_genres</h1>
  <div>
  <%= form_with model: @part, url: '/admin/parts_genres', local:true do |f| %>
    <h4>parts</h4>
    <%= f.text_field :pname %>
    <%= f.submit "登録" %>
  <% end %>
  </div>

  <div>
    <% @parts.each do |parts_genre| %>
    　<div>
      <%= parts_genre.pname %>
      <%= link_to "編集", edit_admin_parts_genre_path(parts_genre.id) %>
      </div>
    <% end %>
  </div>