<%= image_tag @user.get_plofile_image(50,50) %><h4><%= @user.name %></h4><h6>さんのページ</h6>

  <dev>
    <h6>
      メーカー</br>
      <%= @user.maker_genre.mname %>
    </h6>

    <h6>
      車名</br>
      <%= @user.car_name %>
    </h6>

    <h6>
      <%= link_to "ユーザー情報を変更する", edit_user_path(@user.id) %>
    </h6>
  </dev>

  <dev>
    投稿一覧
  </dev>



