<h4>新規投稿</h4>

　<%= form_with model: @carpost, url: car_post_path(@carpost.id), method: :patch, local:true do |f| %>

    <dev>
　    <h4>
　      ジャンル</br>
        <%= f.collection_select :parts_genre_id, PartsGenre.all, :id, :pname, options = { include_blank: true, :prompt => "選択して下さい" } %>
　    </h4>
　  </dev>

　  <dev>
　    <h4>
　      タイトル</br>
　      <%= f.text_field :title %>
　    </h4>
　  </dev>

　  <dev>
　    <h4>
　      内容</br>
　      <%= f.text_area :message %>
　    </h4>
　  </dev>

　  <dev>
　    <h4>
　      投稿画像</br>
　      <%= f.file_field :car_image %>
　    </h4>
　  </dev>

　  <dev>
　    <h4>
　      <%= f.submit "編集" %>
　    </h4>
　  </dev>

　<% end %>



