<%= render partial: 'layouts/sidebar' %>

<div class="carposts">

  <div class="index-top">
    <h2>Index Car Posts!!</h2>

    <div class="sort">
      <%= sort_link(@search, :created_at, "日付", default_order: :desc) %>
    </div>
  </div>

    <% @search_carposts.each do |carpost| %>

      <div class="index-post">

        <div class="new-post-time">
          <%= carpost.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
        </div>

        <div class="index-post-user">
          <% if carpost.user.plofile_image.attached? %>
            <%= link_to user_path(carpost.user.id) do %>
              <%= image_tag carpost.user.plofile_image, class: "plofile-image" %>
            <% end %>
          <% else %>
            <%= link_to user_path(carpost.user.id) do %>
              <%= image_tag 'no_image.jpg', class: "no_image" %>
            <% end %>
          <% end %>
          <div class="index-user-right">
            <div class="user-name"><%= link_to carpost.user.name, user_path(carpost.user.id) %></div>
            <div class="user-car"><%= carpost.user.maker_genre.mname %>. <%= carpost.user.car_name %></div>
          </div>

        </div>

        <div class="index-post-image">
          <%= link_to car_post_path(carpost.id) do %>
            <%= image_tag carpost.car_image, class: "car-image" %>
          <% end %>
        </div>

        <div class="index-carposts-btn">
          <div class="index-carposts-good">
            Good. <%= Good.where(car_post_id: carpost.id).count %>
          </div>
          <div class="index-carposts-comment-count">
            Comment. <%= Comment.where(car_post_id: carpost.id).count %>
          </div>
        </div>

        <div class="index-post-title">
          <div class="index-genre">
            ジャンル:<%= carpost.parts_genre.pname %>
          </div>
          <div class="index-title">
            <%= link_to carpost.title, car_post_path(carpost.id) %>
          </div>
        </div>

      </div>

    <% end %>

</div>