
<div class="new-form">

  <h2>新規投稿</h2>

  <%= form_with model: @carpost, url: car_posts_path, local:true do |f| %>

  <div class="new-form-item">
    <div class="new-form-item-label">
      <%= f.label :parts_genre_id, "ジャンル" %>
    </div>
    <div class="new-form-item-content">
      <%= f.collection_select :parts_genre_id, PartsGenre.all, :id, :pname, { include_blank: "選択して下さい" }, class: "select" %>
    </div>
  </div>

  <div class="new-form-item">
    <div class="new-form-item-label">
      <%= f.label :title, "タイトル" %>
    </div>
    <div class="new-form-item-content">
      <%= f.text_field :title %>
    </div>
  </div>

  <div class="new-form-item">
    <div class="new-form-item-label">
      <%= f.label :message, "内容" %>
    </div>
    <div class="new-form-item-content">
      <%= f.text_area :message %>
    </div>
  </div>

  <div class="new-form-item">
    <div class="new-form-item-label">
      <%= f.label :car_image, "投稿画像を選択", class: "btn" %>
      <%= f.file_field :car_image %>
    </div>
  </div>

  <div class="new-form-submit">
   <%= f.submit "投稿" %>
  </div>
  <% end %>
</div>



