

<div class="carpost">

  <h3><%= @carpost.title %></h3>

    <div class="carpost-show">

      <div class="carpost-time">
        <%= @carpost.created_at.strftime('%Y/%m/%d %H:%M:%S') %>
      </div>

      <div class="carpost-user">
        <div class="user-image">
          <%= link_to user_path(@carpost.user.id) do %>
            <%= image_tag @carpost.user.get_plofile_image(50,50), class: "plofile-image" %>
          <% end %>
        </div>

        <div class="user-right">
          <div class="name"><%=link_to @carpost.user.name, user_path(@carpost.user.id) %></div>
          <div class="car-name"><%= link_to @carpost.user.maker_genre.mname, user_path(@carpost.user.id) %>. <%= link_to @carpost.user.car_name, user_path(@carpost.user.id) %></div>
        </div>

        <div class="follow">
          <% if current_user.following(@carpost.user) %>
            <%= link_to "フォロー外す", user_relationships_path(@carpost.user.id), method: :delete %>
          <% else %>
            <%= link_to "フォローする", user_relationships_path(@carpost.user.id), method: :post %>
          <% end %>
        </div>
      </div>

      <div class="carpost-image"><%= image_tag @carpost.get_car_image(300,300), class: "car-image" %></div>

      <div class="good">
        <% if @carpost.gooded?(current_user) %>
          <%= link_to car_post_good_path(@carpost.id), method: :delete do %>
            <span style="color:red;">★いいね！</span>
          <% end %>
        <% else %>
          <%= link_to car_post_goods_path(@carpost.id), method: :post do %>
            <span>◆いいね！</span>
          <% end %>
        <% end %>
        <%= @good_count %>
      </div>

      <div class="carpost-text">
        <div class="genre">
          ジャンル:<%= @carpost.parts_genre.pname %>
        </div>
        <div class="text">
          <%= @carpost.message %>
        </div>
      </div>

      <div class="carpost-edit">
        <% if @carpost.user == current_user %>
          <div class="edit"><%= link_to "編集する", edit_car_post_path(@carpost.id) %></div>
          <div class="delete"><%= link_to "削除", car_post_path(@carpost.id), method: :delete %></div>
      <% end %>
      </div>

    </div>

    <div class="carpost-comment">
      <h2>Comment!</h2>
    </div>

    <div class="comment-post">
      <%= form_with(model:[@carpost, @comment], method: :post) do |f| %>
        <div class="text"><%= f.text_area :post_comment %></div>
        <div class="submit"><%= f.submit 'コメントする' %></div>
      <% end %>
    </div>



      <% @comments.each do |comment| %>
        <div class="comments">
          <div class="comments-user">
            <div class="user-image">
              <%= link_to user_path(comment.user.id) do %>
                <%= image_tag comment.user.get_plofile_image(50,50), class: "plofile-image" %>
              <% end %>
            </div>

            <div class="user-right">
              <div class="name"><%= link_to comment.user.name, user_path(comment.user.id) %></div>
              <div class="car-name"><%= link_to comment.user.maker_genre.mname, user_path(comment.user.id) %>. <%= link_to comment.user.car_name, user_path(comment.user.id) %></div>
            </div>
          </div>

          <div class="comment">
            <div class="chatting">
              <div class="says">
                <p><%= comment.post_comment %></p>
              </div>
            </div>
          </div>
        </div>
      <% end %>



</div>