<h3><%= @carpost.user.name %></h4>

  <dev>
    <%= image_tag @carpost.get_car_image(200,200) %>
  </dev>

  <dev>
    <h6>タイトル:<%= @carpost.title %></h6>
  </dev>

  <dev>
    <h6>ジャンル:<%= @carpost.parts_genre.pname %></h6>
  </dev>

  <dev>
    <h4>
      <%= @carpost.message %>
    </h4>
  </dev>

  <dev>
    <h4>
      <% if @carpost.user == current_user %>
        <%= link_to "編集する", edit_car_post_path(@carpost.id) %>
        <%= link_to "削除", car_post_path(@carpost.id), method: :delete %>
      <% end %>
    </h4>
  </dev>

  <dev>
    <% if @carpost.gooded?(current_user) %>
      <%= link_to car_post_good_path(@carpost.id), method: :delete do %>
        <span style="color:red;">◆いいね！</span>
      <% end %>
    <% else %>
      <%= link_to car_post_goods_path(@carpost.id), method: :post do %>
        <span>◆いいね！</span>
      <% end %>
    <% end %>

    <%= @good_count %>
  </dev>

  <dev>
    <h4>comment</h4>

    <dev>
      <%= form_with(model:[@carpost, @comment], method: :post) do |f| %>
        <%= f.text_area :post_comment %>
        <%= f.submit 'コメントする' %>
      <% end %>
    </dev>

    <dev>
      <h4>コメント一覧</h4>
      <% @comments.each do |comment| %>
        <%= comment.user.name %>:
        <%= comment.post_comment %>
      <% end %>
    </dev>
  </dev>


